@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #fff;
    --hover-color: #ecf0f1;
}

body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    background-color: rgba(52, 152, 219, 0.8); 
    color: var(--text-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

main {
    width: 100%; /* Make sure main takes up the full width */
    padding: 20px;
}

.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin-right: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--hover-color);
}

#quiz-container {
    background-color: #fff;
    color: #000;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 1.5;
    margin: auto;
}

/* Style for the Start button */
#start-button {
    width: 100%; /* Make the Start button take the full width */
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Add some space between the Start button and other elements */
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: var(--hover-color);
}

/* Style for buttons container */
.buttons-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start; /* Align buttons to the start */
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--hover-color);
}

#submit-button {
    background-color: var(--secondary-color);
}

#result-container {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

/* Display buttons on the same line */
button {
    display: inline-block;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
    .buttons-container {
        flex-direction: column; /* Stack buttons vertically on small screens */
    }
}
